body{
	background-color: cornflowerblue;
	color:white;
	
	font-family: Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:normal;
	
	line-height:1.6em;
    margin:0;
    
    text-align: center;
}

header{
	background-color: blue;
	color: white;
	padding-top: 25px;
	padding-bottom: 10px;
	margin-bottom:10px;
}

#setMPw label{
	display:block;
}

#main-table{
	margin:10px;
	border-collapse:collapse;
	display: grid;
	grid-template-columns:repeat(3,1fr);
	grid-gap:1em;
}

#main-table input{
	width:150px;
	border:none;
	background-color: #00a3e4;
}

#main-table input:focus{
	outline:none;
}

#main-table tr{
	background-color: #00a3e4;
	display: grid;
	grid-template-columns:repeat(3,1fr);
	border: 1px solid black;
}

#main-table tr button{
	background-color: #00a3e4;
	border:none;
}

#main-table tr button:focus{
	outline:none;
}

#main-table tr button:hover{
	color:white;
}

#main-table td:first-child{
	padding-left: 5px;
}

#main-table td:last-child{
	padding-right: 5px;	
}

#main-table #table-head{
	grid-column: 2;
	grid-row: 1;
}
#main-table #table-usage{
	grid-column: 1;
	grid-row:2;
}
#main-table #table-password{
	grid-column: 2;
	grid-row:2;
}
#main-table #table-button{
	grid-column: 3;
	grid-row:2;
}

#myForm{
	display:none;
	border: 1px solid black;
	background-color: #00a3e4;
	color:white;
	margin: 10px 275px 0px 275px;
	padding-top:5px;
	padding-bottom: 10px;
}

#myForm label{
    display:block;
}